.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  
    & h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: #a8bcd7;
      margin-bottom: 20px;
      margin-top: 10%;
      font-size: 1.5em;
      text-align: center;
    }
  
    & p {
      text-align: center;
      width: 80%; 
      max-width: 600px; 
      color: white;
      font-size: 1em;
    }
  
    & .botao-inicio {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
  }
  

  @media screen and (max-width: 768px) {
    .home {
        h2{
            font-size: 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
      & p {
        width: 100%; 
        padding: 10px; 
        font-size: 0.9em; 
      }
    }
  }
  